<div id="interactive_app" class="interactive">

	<div id="interactive_preloader"></div>

	<div class="nav-wrap">

		<div class="nav-label">The Bondi to Manly</div>

		<div class="nav-bar" id="audio_mute_switch">

			<div class="audio-switch-box">

				<label class="switch">

					<input id="audio-switch" type="checkbox">

					<span class="slider round"></span>

				</label>

			</div>

		</div>

	</div>

	<div id="intro_container">

		<div class="sixteen_by_nine">

			<div class="video-wrapper">

				<video id="video" playsinline muted loop="true"></video>

			</div>

		</div>

		<div class="titles">

			<h1><span>The Bondi to Manly:</span> <br>Sydney’s spectacular harbour walk</h1>

			<h3>Follow the epic 76km coastal walk that links two of Australia’s favourite beaches and takes in
			some of the most iconic landmarks Sydney has to offer.</h3>

		</div>

		<div class="video-skip-btn">

			<span></span>

		</div>

	</div>

	<div class="displayed">

		<div class="editorial">

			<div class="display">

		        <div class="share-buttons">
		            <div class="social_isolation">
		                <button class="interactive-share" data-network="facebook"></button>
		                <button class="interactive-share" data-network="twitter"></button>
		            </div>
		        </div>

				<div class="bylines">

					<a href='https://www.theguardian.com/profile/david-fanner'>David Fanner</a> and

					<a href='https://www.theguardian.com/profile/andy-ball'>Andy Ball</a>

				</div>

				<p><span class="drop-cap"><span class="drop-cap__inner">W</span></span>inding through four states, the Murray-Darling and its tributaries have turned dry flat plains into some of Australia’s most productive farmland.</p>

				<p>The river system also waters important wetlands that provide shelter and breeding grounds to migratory birds and native fish. And, for tens of thousands of years, the rivers have provided spiritual and physical sustenance to Indigenous people who live along their banks.</p>

				<p>Yet our great river system is under stress. The Murray-Darling basin plan was introduced in 2012 to tilt the balance back towards the environment. With $13bn in funding, the plan attempts to recover water diverted to irrigation and restore flows.</p>

				<p>Come on a journey along the river to investigate what is going wrong with the Murray-Darling basin plan. It is not an exhaustive exploration, and we urge you to take a real journey through this spectacular part of our wide brown land.</p>

			</div>

		</div>

	</div>

	<div id="app" class="contained"></div>

</div>