<div class="sticky_box">

	<div class="multimedia_container">

		<div class="walk_container">

			<div class="auto-resizable-iframe">
			  <div>
			    <div id="walk_video"></div>
			  </div>
			</div>
		</div>

		<div id="sidebar" class="sidebar_container">

			<div id="close" on-tap="['panel']"></div>

			<div id="map"></div>

			<div class="sidebar_editorial_container">{{blurb}}</div>

			<div class="sidebar_navigation_container">
				<ul>
                {{#each waypoints}}
					<li on-tap="['play', LATITUDE, LONGITUDE, x, y, EDITORIAL]">{{LOCATION}}</li>
                {{/each}}
				</ul>
			</div>

		</div>

	</div>

</div>