<div class="sticky_box">

	<div class="multimedia_container">

		<div class="walk_container">

			<div class="auto-resizable-iframe">

			  <div>

			    <div id="walk_video">
			    	{{#if isDesktop}}{{else}}<video on-tap="['lite']" poster="<%= path %>/assets/imgs/posters/bondi_{{directory}}.jpg" id="video_walk" playsinline="true" muted></video>{{/if}}
			    </div>

			  </div>

			</div>

			<div on-tap="['controller']" id="overlay" class="youtube_overlay"></div>

		</div>

		<div id="sidebar" class="sidebar_container_left" style="visibility: {{#if initiated}}visible{{else}}hidden{{/if}}">

			<div id="close" on-tap="['panel']"></div>

			<div class="sidebar_editorial_hero_image">{{#if isDesktop}}{{#if image}}<img src="<%= path %>/assets/imgs/panel/{{image}}.jpg">{{/if}}{{/if}}</div>

			<div class="sidebar_editorial_container">{{blurb}}</div>

			<div class="sidebar_navigation_container">

				<ul>

                {{#each waypoints}}

					<li class="waypoint_container" on-tap="['play', LATITUDE, LONGITUDE, x, y, EDITORIAL, IMAGE, id]">

					<div class="waypoint_image">

						<img src="<%= path %>/assets/imgs/thumbnails/{{IMAGE}}.png">

					</div>

					<span>{{LOCATION}}</span>

					</li>
					
                {{/each}}

				</ul>

			</div>

		</div>

		<div class="sidebar_container_right" style="visibility: {{#if initiated}}visible{{else}}hidden{{/if}}">

			<div class="map_container">

				<div id="map"></div>

			</div>

		</div>

		{{#progress}}
		<div class="progress_container">
			<div class="progress_bar_container">
				<div class="progress_bar" style="width: {{this.percentage}}%"></div>
			</div>
			<div class="progress_control_container">

				<div class="progress_control_display">{{this.current}}</div>

				<div on-tap="['skip','forward', '60']" class="progress_control_double_button fast_forward"></div>

				<div on-tap="['skip','forward', '20']" class="progress_control_single_button forward"></div>

				<div on-tap="['skip','back', '20']" class="progress_control_single_button back"></div>

				<div on-tap="['skip','back', '60']" class="progress_control_double_button fast_back"></div>
			
			</div>
		</div>
		{{/progress}}

	</div>

</div>
