@import "mq";

.sticky_box {
	overflow: hidden;
}

.multimedia_container {
	width: 100%;
	display: inline-block;
}

.sidebar_container_right {

	box-sizing: border-box;
	z-index: 10;
	padding: 20px;

	@include mq($until: desktop) {
		display: nonel
	}

	@include mq($from: desktop) {
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		width: 420px;
	}

} 

.sidebar_container_left {

	box-sizing: border-box;
	padding: 20px;
	z-index: 10;
	

	@include mq($until: mobileLandscape) {
		width: 100%;
		display: inline-block;
		background-color: black;
	}

	@include mq($from: mobileLandscape, $until: tablet) {
		width: 100%;
		display: inline-block;
		background-color: black;
	}

	@include mq($from: tablet, $until: desktop) {
		width: 100%;
		display: inline-block;
		background-color: black;
	}


	@include mq($from: desktop) {
		position: absolute;
		top: 0px;
		left: 0px;
		bottom: 0px;
		width: 420px;
		background: rgba(88, 88, 88, 0.8);
		animation: slideIn .5s ease-in-out both;
	}

}

.hidebar {
	animation: slideOut .5s ease-in-out both;
}

@keyframes slideIn {
  0%   { left: -420px; }
  100% { left: 0; }
}

@keyframes slideOut {
  0%   { left: 0; }
  100% { left: -420px; }
}

#close {
	
	width: 40px;
	height: 40px;
	border-radius: 0px 20px 20px 0px;
	cursor: pointer;
	background-color: #ffb73d;
	position: absolute;
	left: 420px;
	top: 20px;
	z-index: 1000;


	@include mq($until: desktop) {
		display: none;
	}
}


.sidebar_heading {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 20px;
	font-family: "GuardianTitlepiece", "Guardian Titlepiece","Guardian Headline Full","Guardian Headline","Guardian Egyptian Web",Georgia,serif;
	font-weight: 700;
	color: #ffb73d;
	line-height: 28px;
	text-align: left;
	font-size: 28px;
}

.sidebar_editorial_container {
	box-sizing: border-box;
	padding: 10px;
	font-family: 'Guardian Text Sans Web', 'Agate Sans', sans-serif;
	font-weight: 300;
	color: black;
	line-height: 18px;
	font-size: 14px;
	background-color: white;

	@include mq($until: mobileLandscape) {
		width: 100%;
	}

	@include mq($from: mobileLandscape, $until: tablet) {
		width: 100%;
	}

	@include mq($from: tablet, $until: desktop) {
		width: 100%;
	}

	@include mq($from: desktop) {
		width: 100%;
	}

}

.sidebar_navigation_container {
	
	margin-top: 20px;
	
	@include mq($until: mobileLandscape) {
		width: 100%;
	}

	@include mq($from: mobileLandscape, $until: tablet) {
		width: 100%;
		column-count: 2;
	}

	@include mq($from: tablet, $until: desktop) {
		width: 100%;
		column-count: 2;
	}

	@include mq($from: desktop) {
		width: 100%;
		column-count: 2;
	}


}

.sidebar_editorial_hero_image, .sidebar_editorial_hero_image img {
	width: 100%;
}

.sidebar_navigation_container ul {
	list-style: none; /* Remove list bullets */
	padding: 0;
	margin: 0;
}

.sidebar_navigation_container li {
	width: 100%;
	display: inline-block;
	font-family: 'Guardian Text Sans Web', 'Agate Sans', sans-serif;
	line-height: 16px;
	font-size: 14px;
	border-top: 1px dotted white;
	cursor: pointer;
	box-sizing: border-box;
	padding: 6px;
	line-height: 50px;
	height: 65px;
}


.sidebar_navigation_container li span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	width: 100px;
	color: #FFB73E;
}


.waypoint_image {

	float: left;
	margin-right: 10px;
	width: 50px;
	height: 50px;

}

.waypoint_image img {
	width: 100%;
}

/*
.sidebar_navigation_container li:nth-child(7) {

	@include mq($from: desktop) {
		margin-top: -6px;
	}
	
}

.sidebar_navigation_container li:nth-child(14) {
	border-bottom: 1px dotted white;
}
*/


.sidebar_button {
	background-color: #ffb73d;
	color: white;
	display: inline-block;
	font-family: 'Guardian Text Sans Web', 'Agate Sans', sans-serif;
	text-align: center;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 20px;
	cursor: pointer;
	font-weight: 700;
}


.map_container {
	
	@include mq($until: desktop) {
		display: none;
	}

	@include mq($from: desktop) {
		width: 100%;	
		display: inline-block;
	}

}


#map {

	@include mq($until: desktop) {
		display: none;
	}

	@include mq($from: desktop) {
		width: 100%;
		padding-bottom: 100%;
		height: 0px;
		background-color: lightgrey;
		border-radius: 50% 0 50% 50% ;
		border: 1px solid white;
		position: relative;
	}

}

.auto-resizable-iframe {
  width: 100%;
  margin: 0px auto;
}

.auto-resizable-iframe > div {
  position: relative;
  padding-bottom: 56.25%;
  height: 0px;
}

.auto-resizable-iframe iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}




.isDesktop .titles {

	.youtube_overlay {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background-color: rgba(56,56,56, 1);

		@include mq($until: desktop) {
			display: none;
		}


	}


}

.device.video-wrapper {

	.youtube_overlay {
		display: none;
	}

}


