#walk_container {
	
	width: 100%;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	display:inline-block;
	background-color: white!important;
}

#interactive_container iframe {
	background-color: white!important;
}