@import "mq";

#waypoints {
	
	background-color: black;
	color: white;
	overflow: hidden;
    position: relative;



	.walk_container {
		background-color: darkgrey;
	}

	h2 {
		color: #ffb73d;
		margin-bottom: 20px;
		line-height: 30px;
	}

	strong {
		color: #ffb73d;
	}


	a:link {
	  color: #ffb73d;
	  text-decoration: underline;
	}

	/* visited link */
	a:visited {
	  color: #ffb73d;
	  text-decoration: underline;
	}

	/* mouse over link */
	a:hover {
	  color: #ffb73d;
	  text-decoration: underline;
	}

	/* selected link */
	a:active {
	  color: #ffb73d;
	  text-decoration: underline;
	}

	.contained, .displayed {
		width: 100%;
		box-sizing: border-box;
	}

	.drop-cap {
		color: #ffb73d;
		font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web", Georgia, serif;
		float: left;
		display: inline-block;
		text-transform: uppercase;
		font-weight: 200;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding-top: 0.0625rem;
		margin-right: 0.3125rem;
		height: 4.5rem;
	}

	.drop-cap .drop-cap__inner {
		font-size: 5.25rem;
		line-height: 4.25rem;
		display: inline-block;
		vertical-align: text-top;
	}

	.bylines {
		margin-bottom: 20px;
		font-size: 1.2rem;
		font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web", Georgia, serif;
		font-weight: 400;
		color: #ffb73d;
	}

	.bylines a:link {
		color: #ffb73d;
		text-decoration: none;
	}

	.bylines a:visited {
		color: #ffb73d;
		text-decoration: none;
	}

	.bylines a:hover {
		color: #ffb73d;
		text-decoration: none;
	}

	.bylines a:active {
		color: #ffb73d;
		text-decoration: none;
	}

	.video-skip-btn {
		width: 100%;
		height: 100px;
		position: absolute;
		bottom: 0px;
		left: 0;
		right: 0;
		margin: auto;
		cursor: pointer;
		z-index: 10;

		@include mq($until: desktop) {
			display: none;
		}

	}

	@-webkit-keyframes ARROW_MOVE_MAIN {
		0% {
			bottom: 30px;
		}
		50% {
			bottom: 60px;
		}
		100% {
			bottom: 30px;
		}
	}

	@-moz-keyframes ARROW_MOVE_MAIN {
		0% {
			bottom: 30px;
		}
		50% {
			bottom: 60px;
		}
		100% {
			bottom: 30px;
		}
	}

	@-o-keyframes ARROW_MOVE_MAIN {
		0% {
			bottom: 30px;
		}
		50% {
			bottom: 60px;
		}
		100% {
			bottom: 30px;
		}
	}

	@keyframes ARROW_MOVE_MAIN {
		0% {
			bottom: 30px;
		}
		50% {
			bottom: 60px;
		}
		100% {
			bottom: 30px;
		}
	}

	.sixteen_by_nine {
		width: 100%;
		height: 0px;
		padding-bottom: 56.25%;
	}

	.nav-label {
		font-family: "GuardianTitlepiece", "Guardian Titlepiece","Guardian Headline Full","Guardian Headline","Guardian Egyptian Web",Georgia,serif;
		font-weight: 700;
		color: #ffb73d;
		line-height: 60px;
		text-align: left;
		font-size: 22px;
		float: left;
		padding-left: 20px;
	}

	.nav-label {

		@include mq($from: tablet) {
			display: none;
		}
	}

	.titles h1 {

		font-family: "GuardianTitlepiece", "Guardian Titlepiece","Guardian Headline Full","Guardian Headline","Guardian Egyptian Web",Georgia,serif;
		font-weight: 700;
		color: #ffb73d;

		@include mq($until: mobileLandscape) {
			font-size: 30px;
			line-height: 34px;
		}

		@include mq($from: mobileLandscape, $until: tablet) {
			font-size: 35px;
			line-height: 39px;
		}

		@include mq($from: tablet, $until: desktop) {
			font-size: 40px;
			line-height: 44px;
		}

		@include mq($from: desktop) {
			font-size: 50px;
			line-height: 53px;
		}
		
	}

	.titles h3 {

		color: white;
		

		@include mq($until: mobileLandscape) {
			font-size: 14px;
			line-height: 20px;
			margin-top: 10px;
		}

		@include mq($from: mobileLandscape, $until: tablet) {
			font-size: 16px;
			line-height: 20px;
			margin-top: 10px;
		}

		@include mq($from: tablet, $until: desktop) {
			font-size: 24px;
			line-height: 28px;
			margin-top: 20px;
		}

		@include mq($from: desktop) {
			font-size: 28px;
			line-height: 32px;
			margin-top: 20px;
		}
		
	}

	.video-wrapper {
		width: 100%;
		height: 100%;
	}

	video {
		width: 100%;
	}

	#interactive_preloader {
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		bottom: 0px;
		position: relative;
		z-index: 2000;
		position: fixed;
		background-color: black;
		opacity: 1;
	}

	#interactive_preloader div {

		width: 200px;
		height: 200px;
		margin: auto;
		margin-top: 200px; 
		position: relative;

		.landmass{
			fill:#FFB73D;
		}

		.harbour{
			fill:#D0E7FF;
		}

		.track {
			fill:none;
			stroke:black;
			stroke-width: 2;
			stroke-dasharray: 2200;
			stroke-dashoffset: 2200;
			animation: dash 5s linear forwards infinite;
		}

		@keyframes dash {
		  to {
		    stroke-dashoffset: 0;
		  }
		}

		span {
			width: 200px;
			margin-top: 10px;
			text-align: center;
			color:#FFB73D;
			margin-left: 70px;
			font-family: 'Guardian Text Sans Web', 'Agate Sans', sans-serif;
		}


	}

	.editorial {
		width: 100%;

		.display {
			box-sizing: border-box;
			margin: auto;
			padding-top: 40px;
			
			@include mq($until: mobile) {
				width: calc(100% - 20px);
				padding: 20PX;
			}

			@include mq($from: mobile, $until: tablet) {
				width: calc(100% - 20px);
				padding: 20PX;
			}

			@include mq($from: tablet, $until: desktop) {
				width: 100%;
				max-width: 600px;
			}

			@include mq($from: desktop) {
				width: 100%;
				max-width: 800px;
			}

			p {
				padding-bottom: 1rem;
			}

			p:last-child {

				@include mq($until: tablet) {
					padding-bottom: 0px;
				}

				@include mq($until: tablet) {
					padding-bottom: 3rem;
				}

			}

		}

	}

	.contained {
		position: relative;
	}

	.sticky_box {
		width: 100%;
		position: -webkit-sticky;
		position: sticky;
		top: 60px;
		display:inline-block;
	}

}

.intro_container {
	margin-top: 40px;
}


.isDesktop .titles {

	position: absolute;
	z-index: 8;

	@include mq($until: mobileLandscape) {
		top: 70px;
		left: 5%;
		width: 90%;
	}

	@include mq($from: mobileLandscape, $until: tablet) {
		top: 80px;
		left: 5%;
		width: 90%;
	}

	@include mq($from: tablet, $until: desktop) {
		top: 10%;
		left: 5%;
		width: 90%;
	}

	@include mq($from: desktop) {
		top: 100px;
		left: calc(50% - 430px);
		width: 860px;
	}

}

.device.video-wrapper {

	@include mq($until: tablet) {
		margin-top: 60px;
	}
}

.device .titles {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	max-width: 850px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
}

.svg_container {
	position: absolute;
	top: 0px;
	width: 400px;
	display: inline-block;
	z-index: 1;

	@include mq($until: leftCol) {
		display: none;
	}

}

#svg_container_left {
	left: -200px;
}

#svg_container_right {
	right: -200px;
}


#intro_container, .sixteen_by_nine, .video-wrapper, #app {
	position: relative;
	z-index: 2;
}

.pathway {
	
	stroke: #ffb73d;
  
}

.dashed{
	stroke: black;
  	stroke-dasharray: 10,10;
}

#walk_video {
	background-color: darkgrey;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100px 100px;
	opacity: 1;
	background-image: url("<%= path %>/assets/imgs/preloader.gif");
}

.video-overlay {
	width: 100%;
	height: 100%;
	z-index: 99;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom, #2f262e, transparent);
	opacity: 0.3

}
